@keyframes glow {
    0% {
      border-color: #4f473e;
    }
    25% {
      border-color: #AA9072;
    }
    75% {
      border-color: #CF9C52;
    }
    100% {
      border-color: #DE891E;
    }
  }
  @-webkit-keyframes glow {
    0% {
      border-color: black;
    }
    25% {
      border-color: black;
    }
    75% {
      border-color: black;
    }
    100% {
      border-color: black;
    }
  }